html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
audio, canvas, progress, video {display: inline-block;vertical-align: baseline;}
audio:not([controls]) {display: none;height: 0;}
[hidden], template {display: none;}
a {background: transparent;}
a:active, a:hover {outline: 0;}
abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: bold;}
dfn {font-style: italic;}
h1 {font-size: 2em;margin: .67em 0;}
mark {background: #ff0;color: #000;}
small {font-size: 80%;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -.5em;}
sub {bottom: -.25em;}
img {border: 0;}
svg:not(:root) {overflow: hidden;}
figure {margin: 1em 40px;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
pre {overflow: auto;}
code, kbd, pre, samp {font-family: monospace,monospace;font-size: 1em;}
button, input, optgroup, select, textarea {color: inherit;font: inherit;margin: 0;}
button {overflow: visible;}
button, select {text-transform: none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled], html input[disabled] {cursor: default;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}
input {line-height: normal;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: .35em .625em .75em;}
legend {border: 0;padding: 0;}
textarea {overflow: auto;}
optgroup {font-weight: bold;}
table {border-collapse: collapse;border-spacing: 0;}
td, th {padding: 0;}
html, body {height: 100%;}
body {font-family: "Source Sans Pro",sans-serif;background-color: #fafafa;}
img {max-width: 100%;height: auto;max-height: 100%;}
.ie img {width: 100%;}
a {text-decoration: none;color: #515151;}
a:hover {color: #c0392b;}
h1 {padding-left: 5px;font-size: 1.5em;}
h1 > a {color: #c0392b;}
h2 {font-size: 1.25em;padding: .415em 0;}
h3 {padding: .83em 0 0 .415em;margin: .83em 0 0 0;color: #666;}
div.article {height: auto;}
div.footer {display: table-row;height: 1px;}
div.nav, div.header > h1 {display: table-cell;vertical-align: middle;text-align: left;}
div.nav {text-align: right;}
div.main {display: table;width: 100%;height: 100%;}
div.article {margin: 0 0 0 5%;float: left;width: 69%;}
div.article > div.section {border-bottom: 1px solid #ccc;background-color: #fafafa;padding: 0 5px;}
div.article > div.section p {padding: .6em;}
div.article > div.section p.meta {font-size: .9em;color: #666;}
div.article > div.section.title {margin-top: 1em;border-bottom: 3px solid #c0392b;}
div.article > div.title > h2 {text-transform: uppercase;text-align: right;font-size: 1.2em;margin: 0;padding: 5px;color: #c0392b;}
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {max-width: 100%;height: auto;}
.wp-caption {}
.wp-caption-text {}
.gallery-caption {}
.bypostauthor {}
.alignright, .alignleft, .aligncenter {margin: .83em;}
.alignright {float: right;}
.alignleft {float: left;}
.aligncenter {float: none;margin: 0 auto;}
code, pre {border: 1px solid #cecece;padding: 3px;max-width: 100%;overflow: auto;white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
.ie pre, .ie code {width: 100%;}
img.wp-post-image {display: block;margin: .83em auto;}
code {margin: .83em;display: block;font-size: .83em;}
tr, th, td {border-top: 1px solid #666;border-bottom: 1px solid #666;border-collapse: collapse;padding: 2px 5px;}
span.tags {float: right;display: inline;}